BasedOnStyle: LLVM
Standard: Latest
ColumnLimit: 0
IndentWidth: 2
TabWidth: 2
UseTab: Never
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
BreakBeforeBraces: Attach
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
AccessModifierOffset: -4
SpacesInAngles: false
SpaceBeforeParens: Never
SeparateDefinitionBlocks: Leave
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
SpaceBeforeRangeBasedForLoopColon: false
QualifierAlignment: Left
SortIncludes: CaseSensitive
